@media only screen and (max-width:560px) {
    .under-nav,.img{
        background-position: right;
    }
    .under-nav,.img,h1{
        margin-left: -20px;
    }
    .under-nav,.img,.head-info{
        padding-top: -50px;
        font-weight: 50px;
    }
    .under-nav,.img,.btn-button{
        margin-top: -30px;
        padding-left: 60px;
    }
    .main,.back,img{
        
    }
    main,.container.row,.col-md-6,.col-lg-6,.col-sm-12,.h2{
        margin-left: 300px;
    }
    main,.container,.row,p{
        margin-left: -40px;
    }
    section,.section-item1{
        display: flex;
        flex-direction: column-reverse;
    }
    section,h1{
        margin-left: 0px;
        text-align: center;
        margin-top: 60px;
    }
    section,.section-item1,p{
        margin-left: -200px;
        padding-bottom: 20px;
    }
    section,.section-img{
        
        width: 135%;
    }
    
  }