body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body header .navbar .container-fluid .collapse .navbar-nav .nav-link:hover, body header .navbar .container-fluid .collapse .me-auto .nav-link:hover, body header .navbar .container-fluid .collapse .mb-2 .nav-link:hover, body header .navbar .container-fluid .collapse .mb-lg-0 .nav-link:hover, body header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover, body header .navbar .container-fluid .navbar-collapse .me-auto .nav-link:hover, body header .navbar .container-fluid .navbar-collapse .mb-2 .nav-link:hover, body header .navbar .container-fluid .navbar-collapse .mb-lg-0 .nav-link:hover, body header .navbar-expand-lg .container-fluid .collapse .navbar-nav .nav-link:hover, body header .navbar-expand-lg .container-fluid .collapse .me-auto .nav-link:hover, body header .navbar-expand-lg .container-fluid .collapse .mb-2 .nav-link:hover, body header .navbar-expand-lg .container-fluid .collapse .mb-lg-0 .nav-link:hover, body header .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-link:hover, body header .navbar-expand-lg .container-fluid .navbar-collapse .me-auto .nav-link:hover, body header .navbar-expand-lg .container-fluid .navbar-collapse .mb-2 .nav-link:hover, body header .navbar-expand-lg .container-fluid .navbar-collapse .mb-lg-0 .nav-link:hover, body header .bg-body-tertiary .container-fluid .collapse .navbar-nav .nav-link:hover, body header .bg-body-tertiary .container-fluid .collapse .me-auto .nav-link:hover, body header .bg-body-tertiary .container-fluid .collapse .mb-2 .nav-link:hover, body header .bg-body-tertiary .container-fluid .collapse .mb-lg-0 .nav-link:hover, body header .bg-body-tertiary .container-fluid .navbar-collapse .navbar-nav .nav-link:hover, body header .bg-body-tertiary .container-fluid .navbar-collapse .me-auto .nav-link:hover, body header .bg-body-tertiary .container-fluid .navbar-collapse .mb-2 .nav-link:hover, body header .bg-body-tertiary .container-fluid .navbar-collapse .mb-lg-0 .nav-link:hover {
  color: orange;
}
body header .navbar .container-fluid .collapse .navbar-nav .nav-link, body header .navbar .container-fluid .collapse .navbar-nav .active, body header .navbar .container-fluid .collapse .me-auto .nav-link, body header .navbar .container-fluid .collapse .me-auto .active, body header .navbar .container-fluid .collapse .mb-2 .nav-link, body header .navbar .container-fluid .collapse .mb-2 .active, body header .navbar .container-fluid .collapse .mb-lg-0 .nav-link, body header .navbar .container-fluid .collapse .mb-lg-0 .active, body header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-link, body header .navbar .container-fluid .navbar-collapse .navbar-nav .active, body header .navbar .container-fluid .navbar-collapse .me-auto .nav-link, body header .navbar .container-fluid .navbar-collapse .me-auto .active, body header .navbar .container-fluid .navbar-collapse .mb-2 .nav-link, body header .navbar .container-fluid .navbar-collapse .mb-2 .active, body header .navbar .container-fluid .navbar-collapse .mb-lg-0 .nav-link, body header .navbar .container-fluid .navbar-collapse .mb-lg-0 .active, body header .navbar-expand-lg .container-fluid .collapse .navbar-nav .nav-link, body header .navbar-expand-lg .container-fluid .collapse .navbar-nav .active, body header .navbar-expand-lg .container-fluid .collapse .me-auto .nav-link, body header .navbar-expand-lg .container-fluid .collapse .me-auto .active, body header .navbar-expand-lg .container-fluid .collapse .mb-2 .nav-link, body header .navbar-expand-lg .container-fluid .collapse .mb-2 .active, body header .navbar-expand-lg .container-fluid .collapse .mb-lg-0 .nav-link, body header .navbar-expand-lg .container-fluid .collapse .mb-lg-0 .active, body header .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .nav-link, body header .navbar-expand-lg .container-fluid .navbar-collapse .navbar-nav .active, body header .navbar-expand-lg .container-fluid .navbar-collapse .me-auto .nav-link, body header .navbar-expand-lg .container-fluid .navbar-collapse .me-auto .active, body header .navbar-expand-lg .container-fluid .navbar-collapse .mb-2 .nav-link, body header .navbar-expand-lg .container-fluid .navbar-collapse .mb-2 .active, body header .navbar-expand-lg .container-fluid .navbar-collapse .mb-lg-0 .nav-link, body header .navbar-expand-lg .container-fluid .navbar-collapse .mb-lg-0 .active, body header .bg-body-tertiary .container-fluid .collapse .navbar-nav .nav-link, body header .bg-body-tertiary .container-fluid .collapse .navbar-nav .active, body header .bg-body-tertiary .container-fluid .collapse .me-auto .nav-link, body header .bg-body-tertiary .container-fluid .collapse .me-auto .active, body header .bg-body-tertiary .container-fluid .collapse .mb-2 .nav-link, body header .bg-body-tertiary .container-fluid .collapse .mb-2 .active, body header .bg-body-tertiary .container-fluid .collapse .mb-lg-0 .nav-link, body header .bg-body-tertiary .container-fluid .collapse .mb-lg-0 .active, body header .bg-body-tertiary .container-fluid .navbar-collapse .navbar-nav .nav-link, body header .bg-body-tertiary .container-fluid .navbar-collapse .navbar-nav .active, body header .bg-body-tertiary .container-fluid .navbar-collapse .me-auto .nav-link, body header .bg-body-tertiary .container-fluid .navbar-collapse .me-auto .active, body header .bg-body-tertiary .container-fluid .navbar-collapse .mb-2 .nav-link, body header .bg-body-tertiary .container-fluid .navbar-collapse .mb-2 .active, body header .bg-body-tertiary .container-fluid .navbar-collapse .mb-lg-0 .nav-link, body header .bg-body-tertiary .container-fluid .navbar-collapse .mb-lg-0 .active {
  color: #939CAA;
}
body header .under-nav, body header .img {
  background-image: url(../images/Group\ 41.png);
  width: 100%;
  height: 540px;
}
body header .under-nav h1, body header .img h1 {
  color: #FFF;
  font-family: Space Mono;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 100% */
  letter-spacing: -2.5px;
  width: 500px;
  padding: 120px 0px 30px 100px;
}
body header .under-nav div .line-nav, body header .img div .line-nav {
  display: flex;
}
body header .under-nav div .line-nav .head-info, body header .img div .line-nav .head-info {
  color: #FFF;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding: 30px 0px 30px 280px;
}
body header .under-nav div .btn-button, body header .img div .btn-button {
  margin-left: 130px;
}
body main {
  margin-top: 150px;
}
body main .main-back, body main .img {
  z-index: 0;
  margin-bottom: -90px;
}
body main .container {
  z-index: 10;
}
body main .container .row .col-xl-4 .phone-app, body main .container .row .col-lg-4 .phone-app, body main .container .row .col-md-4 .phone-app, body main .container .row .col-sm-12 .phone-app {
  color: #495567;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -1.071px;
  padding: 15px 0px;
}
body main .container .row .col-xl-4 p, body main .container .row .col-lg-4 p, body main .container .row .col-md-4 p, body main .container .row .col-sm-12 p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
body main .container .row .col-sm-12 {
  align-items: center;
}
body section {
  margin: 130px 0px;
}
body section .section-item1 {
  display: flex;
  justify-content: space-around;
}
body section .section-item1 .item1 h1 {
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -2.143px;
}
body section .section-item1 .item1 p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0;
}
body section .section-item1 .section-img {
  background-image: url(../images/Group\ 15.png);
  width: 58%;
  height: 450px;
  margin-right: -55px;
}
body section .section-item2 {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
}
body section .section-item2 .image {
  background-image: url(../images/Group\ 14.png);
  width: 48.19%;
  height: 445px;
  margin-left: -100px;
}
body section .section-item2 .item2 h1 {
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -2.143px;
}
body section .section-item2 .item2 p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0;
}
body section .section-item3 {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
body section .section-item3 .item3 h1 {
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -2.143px;
}
body section .section-item3 .item3 p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0;
}
body section .section-item3 .section-foto {
  background-image: url(../images/Group\ 18.png);
  width: 45%;
  height: 445px;
  margin-right: -114px;
}
body .previous {
  z-index: 10px;
  margin-bottom: 0px;
  background-image: url(../images/Mask\ \(1\).png);
  background-size: contain;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
body .previous h1 {
  color: #FFF;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  margin-bottom: 0;
}
body .previous .apps-download {
  display: flex;
  margin-top: 20px;
}
body .previous .apps-download .iphone {
  border-radius: 4px;
  background: #E5ECF4;
  width: 159px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
}
body .previous .apps-download .iphone img {
  width: 24.267px;
  height: 28px;
  margin-top: 10px;
}
body .previous .apps-download .iphone .informatsiya p {
  color: #495567;
  font-family: Space Mono;
  font-size: 10px;
  margin-top: 10px;
}
body .previous .apps-download .iphone .informatsiya h6 {
  margin-left: -5px;
  color: #495567;
  font-family: Space Mono;
  font-size: 20px;
  margin-top: -15px;
}
body .previous .apps-download .samsung {
  border-radius: 4px;
  background: #E5ECF4;
  width: 159px;
  height: 56px;
  display: flex;
  justify-content: space-around;
}
body .previous .apps-download .samsung img {
  width: 24.267px;
  height: 28px;
  margin-top: 10px;
}
body .previous .apps-download .samsung .informatsiya p {
  color: #495567;
  font-family: Space Mono;
  font-size: 10px;
  margin-top: 10px;
}
body .previous .apps-download .samsung .informatsiya h6 {
  margin-left: -5px;
  color: #495567;
  font-family: Space Mono;
  font-size: 20px;
  margin-top: -15px;
}
body footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1px;
  margin-top: -30px;
}
body footer .navbar, body footer .navbar-expand-lg, body footer .bg-body-tertiary {
  margin-top: -20px;
}
body footer .navbar .container-fluid, body footer .navbar-expand-lg .container-fluid, body footer .bg-body-tertiary .container-fluid {
  background: #333A44;
  height: 96px;
  width: 100%;
}
body footer .navbar .container-fluid .collapse .nav-link, body footer .navbar .container-fluid .collapse .active:hover, body footer .navbar .container-fluid .navbar-collapse .nav-link, body footer .navbar .container-fluid .navbar-collapse .active:hover, body footer .navbar-expand-lg .container-fluid .collapse .nav-link, body footer .navbar-expand-lg .container-fluid .collapse .active:hover, body footer .navbar-expand-lg .container-fluid .navbar-collapse .nav-link, body footer .navbar-expand-lg .container-fluid .navbar-collapse .active:hover, body footer .bg-body-tertiary .container-fluid .collapse .nav-link, body footer .bg-body-tertiary .container-fluid .collapse .active:hover, body footer .bg-body-tertiary .container-fluid .navbar-collapse .nav-link, body footer .bg-body-tertiary .container-fluid .navbar-collapse .active:hover {
  color: orange;
}
body footer .navbar .container-fluid .collapse .nav-link, body footer .navbar .container-fluid .collapse .active, body footer .navbar .container-fluid .navbar-collapse .nav-link, body footer .navbar .container-fluid .navbar-collapse .active, body footer .navbar-expand-lg .container-fluid .collapse .nav-link, body footer .navbar-expand-lg .container-fluid .collapse .active, body footer .navbar-expand-lg .container-fluid .navbar-collapse .nav-link, body footer .navbar-expand-lg .container-fluid .navbar-collapse .active, body footer .bg-body-tertiary .container-fluid .collapse .nav-link, body footer .bg-body-tertiary .container-fluid .collapse .active, body footer .bg-body-tertiary .container-fluid .navbar-collapse .nav-link, body footer .bg-body-tertiary .container-fluid .navbar-collapse .active {
  color: #939CAA;
}
.main .main-photo-nav {
  background-image: url(../images/Bitmap\ \(8\).png);
  background-size: cover;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.main .main-photo-nav h1 {
  color: #FFF;
  font-family: Space Mono;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 100% */
  letter-spacing: -2.5px;
  padding-left: 30px;
}
.main .main-photo-nav img {
  width: 234px;
  height: 63px;
}
.main .main-section .section-item1 {
  margin-top: 120px;
  display: flex;
  justify-content: space-around;
}
.main .main-section .section-item1 .up-info h1 {
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -2.143px;
}
.main .main-section .section-item1 .up-info p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0;
}
.main .main-section .section-item1 .section-picture {
  background-image: url(../images/Group\ 15\ \(1\).png);
  width: 50%;
  height: 445px;
  margin-left: -100px;
}
.main .main-section .main-section-item1 {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
.main .main-section .main-section-item1 .main-section1foto {
  background-image: url(../images/Group\ 14\ \(1\).png);
  width: 46.1%;
  height: 445px;
  margin-left: -100px;
}
.main .main-section .main-section-item1 .up-info h1 {
  color: #495567;
  font-family: Space Mono;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  letter-spacing: -2.143px;
}
.main .main-section .main-section-item1 .up-info p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0;
}
.main main {
  margin-bottom: 100px;
}
.main main h2 {
  color: #495567;
  text-align: center;
  font-family: Space Mono;
  font-size: 48px;
}
.main main .ramka {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 80px;
  margin-top: 50px;
}
.main main .ramka .container .box {
  background-image: url(../images/Bitmap\ \(10\).png);
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 258px;
  position: relative;
  margin-bottom: 20px;
}
.main main .ramka .container .box span {
  background-color: orange;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  left: 110px;
  font-size: 24px;
  color: #495567;
  text-align: center;
  font-family: Space Mono;
}
.main main .ramka .container .main-first {
  color: #495567;
  margin: 20px 0;
  font-family: Space Mono;
  font-size: 24px;
  margin-left: 90px;
  margin-top: 50px;
}
.main main .ramka .container p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
}
.main main .ramka .container {
  margin-left: 20px;
}
.main main .ramka .container .container-foto2 {
  background-image: url(../images/Bitmap\ \(11\).png);
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 258px;
  position: relative;
  margin-bottom: 20px;
}
.main main .ramka .container .container-foto2 span {
  background-color: orange;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  left: 110px;
  font-size: 24px;
  color: #495567;
  text-align: center;
  font-family: Space Mono;
}
.main main .ramka .container .main-heading {
  color: #495567;
  margin: 20px 0;
  font-family: Space Mono;
  font-size: 24px;
  margin-left: 70px;
  margin-top: 50px;
}
.main main .ramka .container p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
}
.main main .ramka .container .main-users {
  background-image: url(../images/Bitmap\ \(12\).png);
  background-size: cover;
  border-radius: 50%;
  width: 250px;
  height: 258px;
  position: relative;
  margin-bottom: 20px;
}
.main main .ramka .container .main-users span {
  background-color: orange;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: -20px;
  left: 110px;
  font-size: 24px;
  color: #495567;
  text-align: center;
  font-family: Space Mono;
}
.main main .ramka .container h4 {
  color: #495567;
  margin: 20px 0;
  font-family: Space Mono;
  font-size: 24px;
  margin-left: 60px;
  margin-top: 50px;
}
.main main .ramka .container p {
  color: #939CAA;
  font-family: Lexend Deca;
  font-size: 15px;
}
.main section {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main section .company {
  margin-left: 30px;
  color: #495567;
  text-align: center;
  font-family: Space Mono;
  font-size: 48px;
  text-align: center;
}
.main section .container {
  margin-bottom: 100px;
}
.main section .container .row .col-4 .h-100 .nav .item-write, .main section .container .row .col-4 .h-100 .nav-pills .item-write, .main section .container .row .col-4 .h-100 .flex-column .item-write, .main section .container .row .col-4 .flex-column .nav .item-write, .main section .container .row .col-4 .flex-column .nav-pills .item-write, .main section .container .row .col-4 .flex-column .flex-column .item-write, .main section .container .row .col-4 .align-items-stretch .nav .item-write, .main section .container .row .col-4 .align-items-stretch .nav-pills .item-write, .main section .container .row .col-4 .align-items-stretch .flex-column .item-write, .main section .container .row .col-4 .pe-4 .nav .item-write, .main section .container .row .col-4 .pe-4 .nav-pills .item-write, .main section .container .row .col-4 .pe-4 .flex-column .item-write, .main section .container .row .col-4 .border-end .nav .item-write, .main section .container .row .col-4 .border-end .nav-pills .item-write, .main section .container .row .col-4 .border-end .flex-column .item-write, .main section .container .row .col-4 .position-sticky .nav .item-write, .main section .container .row .col-4 .position-sticky .nav-pills .item-write, .main section .container .row .col-4 .position-sticky .flex-column .item-write {
  color: #495567;
  font-family: Space Mono;
  font-size: 40px;
}
.main section .container .row .col-8 .scrollspy-example-2 .accordion .accordion-item {
  background: #F2F5F9;
}
.main section .container .row .col-8 .scrollspy-example-2 .accordion .accordion-item .accordion-header {
  background: #F2F5F9;
}
.main section .container .row .col-8 .scrollspy-example-2 .accordion .accordion-item .accordion-header .accordion-button {
  color: #495567;
  font-family: Space Mono;
  font-size: 24px;
}
.main section .container .row .col-8 .scrollspy-example-2 .accordion .accordion-item .accordion-collapse .accordion-body, .main section .container .row .col-8 .scrollspy-example-2 .accordion .accordion-item .collapse .accordion-body, .main section .container .row .col-8 .scrollspy-example-2 .accordion .accordion-item .show .accordion-body {
  color: #495567;
  font-family: Lexend Deca;
  font-size: 15px;
}
.main footer .up-footer {
  background-image: url(../images/Mask\ \(1\).png);
  background-size: cover;
  width: 100%;
  height: 200px;
}/*# sourceMappingURL=style.css.map */