
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    header{
        .navbar,.navbar-expand-lg,.bg-body-tertiary{
            .container-fluid{
                .collapse,.navbar-collapse{
                    .navbar-nav,.me-auto,.mb-2,.mb-lg-0{
                        .nav-link:hover{
                            color: orange;
                            
                        }
                        .nav-link,.active{
                            color: #939CAA;
                        }
                    }
                }
            }
        }
        .under-nav,.img{
            background-image: url(../images/Group\ 41.png);
            width: 100%;
            height: 540px;
            
            h1{
                color: #FFF;
                font-family: Space Mono;
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                line-height: 56px; /* 100% */
                letter-spacing: -2.5px;
                width: 500px;
                padding: 120px 0px 30px 100px;

            }
            div{
                .line-nav{
                    display: flex;
                    .head-info{
                        color: #FFF;
                        font-family: Lexend Deca;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25px;
                        padding: 30px 0px 30px 280px;
                    }
                }
                .btn-button{
                    margin-left: 130px;
                }
            }
        }
    }
    main{
        margin-top: 150px; 
        .main-back,.img{
            z-index: 0;
            margin-bottom: -90px;
        }     
        .container{
            z-index: 10;
            .row{
                
                .col-xl-4,.col-lg-4,.col-md-4,.col-sm-12{
                    
                    .phone-app{
                        color: #495567;
                        font-family: Space Mono;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px; 
                        letter-spacing: -1.071px;
                        padding: 15px 0px;
                    }
                    p{
                        color: #939CAA;
                        font-family: Lexend Deca;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25px;
                    }
                }

                .col-sm-12{
                    align-items: center;
                }
            }
        }
    }
    section{
        margin: 130px 0px;
        
        .section-item1{
            display: flex;
            justify-content: space-around;
            .item1{
                h1{
                    color: #495567;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px; /* 100% */
                    letter-spacing: -2.143px;
                }
                p{
                    color: #939CAA;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;  
                    margin: 30px 0;             
                }
            }
            .section-img{
                background-image: url(../images/Group\ 15.png);
                width: 58%;
                height: 450px;
                margin-right: -55px;
            }
        }
        .section-item2{
            margin-top: 120px;
            display: flex;
            justify-content: space-around;
            .image{
                background-image: url(../images/Group\ 14.png);
                width: 48.19%;
                height: 445px;
                margin-left: -100px;
            }
            .item2{
                h1{
                    color: #495567;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px; /* 100% */
                    letter-spacing: -2.143px;
                }
                p{
                    color: #939CAA;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;  
                    margin: 30px 0;             
                }
            }
        }

        .section-item3{
            display: flex;
            justify-content: space-around;
            margin-top: 120px;
            .item3{
                h1{
                    color: #495567;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px; /* 100% */
                    letter-spacing: -2.143px;
                }
                p{
                    color: #939CAA;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;  
                    margin: 30px 0;             
                }
            }
            .section-foto{
                background-image: url(../images/Group\ 18.png);
                width: 45%;
                height: 445px;
                margin-right: -114px;
            }
        }
    }
    .previous{
        z-index: 10px;
        margin-bottom: -0px;
        background-image: url(../images/Mask\ \(1\).png);
        background-size: contain;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-around;
        padding-top: 100px;
        h1{
            color: #FFF;
            font-family: Space Mono;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 100% */
            margin-bottom: 0;
        }
        .apps-download{
            display: flex;
            margin-top: 20px;
            .iphone{
                border-radius: 4px;
                background: #E5ECF4;
                width: 159px;
                height: 56px;  
                display: flex;
                justify-content: space-around;
                margin-right: 30px;
                img{
                    width: 24.267px;
                    height: 28px;
                    margin-top: 10px;
                }
                .informatsiya{
                    p{
                        color: #495567;
                        font-family: Space Mono;
                        font-size: 10px;  
                        margin-top: 10px;                      
                    }
                    h6{
                        margin-left: -5px;
                        color: #495567;
                        font-family: Space Mono;
                        font-size: 20px;
                        margin-top: -15px;
                    }
                }              
            }
            .samsung{
                border-radius: 4px;
                background: #E5ECF4;
                width: 159px;
                height: 56px;  
                display: flex;
                justify-content: space-around;
                img{
                    width: 24.267px;
                    height: 28px;
                    margin-top: 10px;
                }
                .informatsiya{
                    p{
                        color: #495567;
                        font-family: Space Mono;
                        font-size: 10px;  
                        margin-top: 10px;                      
                    }
                    h6{
                        margin-left: -5px;
                        color: #495567;
                        font-family: Space Mono;
                        font-size: 20px;
                        margin-top: -15px;
                    }
                }              
            }
        }
    }
    footer{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        z-index: 1px;
        margin-top: -30px;
        .navbar,.navbar-expand-lg,.bg-body-tertiary{
            margin-top: -20px;
            .container-fluid{
                background: #333A44;
                height: 96px;
                width: 100%;
                
                .collapse,.navbar-collapse{
                    .nav-link,.active:hover{
                        color: orange;
                    }
                    .nav-link,.active{
                        color: #939CAA;
                    }
                }
                .sc-network{
                    
                }
            }
        }
    }
}
.main{
    .main-photo-nav{
        background-image: url(../images/Bitmap\ \(8\).png);
        background-size: cover;
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        h1{
            color: #FFF;
            font-family: Space Mono;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px; /* 100% */
            letter-spacing: -2.5px;
            padding-left: 30px;
        }
        img{
            width: 234px;
            height: 63px;        
        }
    }
    .main-section{
        .section-item1{
            margin-top: 120px;
            display: flex;
            justify-content: space-around;
            .up-info{
                h1{
                    color: #495567;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px; /* 100% */
                    letter-spacing: -2.143px;
                }
                p{
                    color: #939CAA;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                    margin: 30px 0;
                }
            }
            .section-picture{
                background-image: url(../images/Group\ 15\ \(1\).png);
                width: 50%;
                height: 445px;
                margin-left: -100px;
            }
        }
        .main-section-item1{
            display: flex;
            justify-content: space-around;
            margin-top: 120px;
            .main-section1foto{
                background-image: url(../images/Group\ 14\ \(1\).png);
                width: 46.1%;
                height: 445px;
                margin-left: -100px;
                
            }
            .up-info{
                h1{
                    color: #495567;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px; /* 100% */
                    letter-spacing: -2.143px;
                }
                p{
                    color: #939CAA;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                    margin: 30px 0;
                }
            }
        }
    }
    main{
        margin-bottom: 100px;
        h2{
            color: #495567;
            text-align: center;
            font-family: Space Mono;
            font-size: 48px;
        }
        .ramka{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: 80px;
            margin-top: 50px;
            .container{
                .box{
                    background-image: url(../images/Bitmap\ \(10\).png);
                        background-size: cover;
                        border-radius: 50%;
                        width: 250px;
                        height: 258px;
                        position: relative;
                        margin-bottom: 20px;
                    span{
                        background-color: orange;
                        width: 40px;
                        height: 40px;
                        display: block;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -20px;
                        left: 110px;
                        font-size: 24px;
                        color: #495567;
                        text-align: center;
                        font-family: Space Mono;
                    }
                }
                .main-first{
                    color: #495567;
                    margin: 20px 0;
                    font-family: Space Mono;
                    font-size: 24px;
                    margin-left: 90px;
                    margin-top: 50px;
                }
                p{
                    color: #939CAA;
                    
                    font-family: Lexend Deca;
                    font-size: 15px;
                }
            }
            .container{

                margin-left: 20px;
                .container-foto2{
                    background-image: url(../images/Bitmap\ \(11\).png);
                    background-size: cover;
                    border-radius: 50%;
                    width: 250px;
                    height: 258px;
                    position: relative;
                    margin-bottom: 20px;
                    span{
                        background-color: orange;
                        width: 40px;
                        height: 40px;
                        display: block;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -20px;
                        left: 110px;
                        font-size: 24px;
                        color: #495567;
                        text-align: center;
                        font-family: Space Mono;
                    }
                }
                .main-heading{
                    color: #495567;
                    margin: 20px 0;
                    font-family: Space Mono;
                    font-size: 24px;
                    margin-left: 70px;
                    margin-top: 50px;
                }
                p{
                    color: #939CAA;
                    
                    font-family: Lexend Deca;
                    font-size: 15px;                
                }
            }
            .container{
                .main-users{
                    background-image: url(../images/Bitmap\ \(12\).png);
                        background-size: cover;
                        border-radius: 50%;
                        width: 250px;
                        height: 258px;
                        position: relative;
                        margin-bottom: 20px;
                    span{
                        background-color: orange;
                        width: 40px;
                        height: 40px;
                        display: block;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -20px;
                        left: 110px;
                        font-size: 24px;
                        color: #495567;
                        text-align: center;
                        font-family: Space Mono;
                    }
                }
                h4{
                    color: #495567;
                    margin: 20px 0;
                    font-family: Space Mono;
                    font-size: 24px;
                    margin-left: 60px;
                    margin-top: 50px;
                }
                p{
                    color: #939CAA;
                    
                    font-family: Lexend Deca;
                    font-size: 15px;
                }
            }
        }
    }
    section{
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        .company{
            margin-left: 30px;
            color: #495567;
            text-align: center;
            font-family: Space Mono;
            font-size: 48px;
            text-align: center;
        }
        .container{
            margin-bottom: 100px;
            .row{
                .col-4{
                    .h-100,.flex-column,.align-items-stretch,.pe-4,.border-end,.position-sticky{
                        .nav,.nav-pills,.flex-column{
                            .item-write{
                                color: #495567;
                                font-family: Space Mono;
                                font-size: 40px;
                            }
                        }
                    }
                }
                .col-8{
                    .scrollspy-example-2{
                        .accordion{
                            .accordion-item{
                                background: #F2F5F9;
                                .accordion-header{
                                    background: #F2F5F9;
                                    .accordion-button{
                                        color: #495567;
                                        font-family: Space Mono;
                                        font-size: 24px;
                                    }
                                }
                                .accordion-collapse,.collapse,.show{
                                    .accordion-body{
                                        color: #495567;
                                        font-family: Lexend Deca;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        .up-footer{
            background-image: url(../images/Mask\ \(1\).png);
            background-size: cover;
            width: 100%;
            height: 200px;
        }
    }
}